<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <div class="container bg-light p-3 vh-100">
      <div class="d-flex flex-column h-100">
        <div class="bg-white rounded flex-grow-1">
          <ul>
            <li v-for="msg in messages">{{ msg.text }}</li>
          </ul>
        </div>
        <form @submit.prevent="submitMessage">
          <div class="input-group mt-3">
            <input v-model="newMessage" type="text" class="form-control border-0" ref="chatInput">
            <div class="input-group-append">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        newMessage: '',
        messages: [],
        socket: null,
      },

      methods: {
        submitMessage() {
          this.socket.send(JSON.stringify({ text: this.newMessage }))
          this.newMessage = ''
          this.$refs.chatInput.focus()
        }
      },

      mounted() {
        var self = this
        this.$refs.chatInput.focus()

        this.socket = new WebSocket('ws://localhost:3000/ws')
        this.socket.addEventListener('open', (event) => {
          console.log('open for business!')
        })
        this.socket.addEventListener('close', (event) => {
          console.log('closed for the day...')
        })
        this.socket.addEventListener('message', function (event) {
          console.log('Message from server ', event.data)
          self.messages.push(JSON.parse(event.data))
        })
      }
    })
  </script>
</body>
</html>